.app-header {
    display: flex;
    flex-direction: column;
    min-height: 3.9rem;
    height: 100vh;
    /* position: fixed; */
    width: 8vw;
    background-color: var(--inst-background);
    /* background-color: var(--clr4); */
    padding: .8rem 1rem;

    border-right: 1px solid #dbdbdb;

    & nav {
        display: flex;
        flex-direction: column;
        /* width: 1vw; */
        align-items: center;
        gap: 1em;

        font-size: 1em;

        /* .active {
            color: var(--clr1);
        } */

        .icon {
            font-size: 2rem;
        }

        .logo {
            font-size: 2em;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5em;
            /* font-weight: bold; */
            /* margin-inline-end: 1em; */
        }

        .login-link {
            /* margin-inline-start: auto; */
        }

        & button {
            margin-inline-end: 0;
        }
    }



    .user-info {
        margin-top: 50px;
        display: flex;
        align-items: center;
        flex-direction: column;
        /* margin-inline-start: auto; */
        gap: 1em;
        font-size: 1.2rem;

        color: var(--clr1);


        /* .score {
            padding: 8px;
            background-color: var(--clr2);
            border-radius: 50%;
            margin: 10px;

            color: var(--gray1);
        } */

        & img {
            width: 3em;
            aspect-ratio: 1;
            border-radius: 50%;
        }

        .user-name {
            margin-top: 10px;
            /* font-size: 1.2rem; */
            font-weight: bold;
            text-align: center;
        }

    }
}

.app-header nav a {
    color: var(--inst-text);
}

.app-header:hover {
    background-color: var(--inst-background);
    width: 20vw;
    /* border-radius: 8px; */
    transition: width 0.8s ease;
}

.nav-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: 12px;
    border-radius: 8px;

    justify-content: center;
}

.app-header:hover nav {
    align-items: flex-start;
}

.app-header:hover .nav-item {
    justify-content: flex-start;
}

.nav-item .icon {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.nav-item .text {
    opacity: 0;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    transition: opacity 0.3s ease, width 0.3s ease;
}

.app-header:hover .nav-item .text {
    opacity: 1;
    width: auto;
}

.app-header:hover .text {
    opacity: 1;
    font-size: 24px;

}

@media (max-width: 768px) {
    .app-header {
        flex-direction: row;
        height: auto;
        min-height: auto;
        padding: .5rem;
        width: 100%;
        font-size: 1rem;

        nav {
            flex-direction: row;
            gap: 1.5rem;

            .logo {
                margin-inline-end: 1em;
            }
        }

        .user-info {
            margin-inline-start: 1rem;
            margin-top: 0px;
            display: flex;
            /* align-items: center; */
            flex-direction: row;
        }

        .user-name {
            margin-top: 1px;
            /* font-size: 1.2rem; */
            font-weight: normal;
            text-align: center;
        }
    }
}