.app-header {
    display: flex;
    flex-direction: column;
    min-height: 3.5rem;
    height: 100vh;
    /* position: fixed; */

    background-color: var(--clr4);
    padding: .8rem 1rem;

    border-right: 1px solid #dbdbdb;

    & nav {
        display: flex;
        flex-direction: column;
        /* width: 1vw; */
        align-items: center;
        gap: 4em;

        font-size: 1em;

        .active {
            color: var(--clr1);
        }

        .logo {
            font-size: 2em;
            font-weight: bold;
            /* margin-inline-end: 1em; */
        }

        .login-link {
            /* margin-inline-start: auto; */
        }

        & button {
            margin-inline-end: 0;
        }
    }

    .user-info {
        margin-top: 80px;
        display: flex;
        align-items: center;
        flex-direction: column;
        /* margin-inline-start: auto; */
        gap: 1em;
        font-size: 1.2rem;

        color: var(--clr1);


        .score {
            padding: 8px;
            background-color: var(--clr2);
            border-radius: 50%;
            margin: 10px;

            color: var(--gray1);
        }

        & img {
            width: 5em;
            aspect-ratio: 1;
            border-radius: 50%;
        }

        .user-name {
            margin-top: 20px;
            /* font-size: 1.2rem; */
            font-weight: bold;
            text-align: center;
        }

    }
}


@media (max-width: 768px) {
    .app-header {
        flex-direction: row;
        height: auto;
        min-height: auto;
        padding: .5rem;
        width: 100%;
        font-size: 1rem;

        nav {
            flex-direction: row;
            gap: 1.5rem;

            .logo {
                margin-inline-end: 1em;
            }
        }

        .user-info {
            margin-inline-start: 1rem;
            margin-top: 0px;
            display: flex;
            /* align-items: center; */
            flex-direction: row;
        }

        .user-name {
            margin-top: 1px;
            /* font-size: 1.2rem; */
            font-weight: normal;
            text-align: center;
        }
    }
}