.edit-profile-container {
    /* width: 60vw; */
    margin: auto;
    /* margin-top: 0rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 20px;
    /* border: 1px solid var(--inst-border);
    border-radius: 8px; */
    background-color: var(--inst-bg);
    margin-top: 50px;

    .edit-title {
        width: 556px;
        text-align: left;

        font-size: 20px;
        font-weight: 700;
        color: var(--inst-text);

        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .user-profile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--inst-more-dropdown-hover-button);
        width: 556px;
        height: 77px;
        border-radius: 12px;
        margin-bottom: 2rem;
        /* aspect-ratio: 556 / 77; */

        .user-info-edit {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: row;
            gap: 10px;

            h5 {
                margin-top: 10px;
                font-size: 16px;
                font-weight: 600;
                color: var(--inst-text);
            }


        }

        img {
            width: 55px;
            height: 55px;
            border-radius: 50%;
            margin-left: 20px;
            object-fit: cover;
        }



        .change-photo-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 120px;
            height: 32px;
            border: 1px solid var(--inst-border);
            border-radius: 8px;
            background-color: var(--inst-signup);
            color: var(--inst-text);
            font-size: 14px;
            font-weight: 600;
            cursor: pointer;
            /* margin-top: 12px; */
            margin-right: 20px;
        }

    }

    .edit-user-form {
        display: flex;
        flex-direction: column;
        /* gap: 1rem; */
        width: 556px;

        label {
            /* margin-top: 10px; */
            font-size: 16px;
            color: var(--inst-text);
            font-weight: 600;
        }

        input[id="website"] {
            /* display: none; */
            background-color: var(--inst-more-dropdown-hover-button);
            height: 38px;

            &::placeholder {
                color: var(--inst-text);
                opacity: 0.7;
            }



        }

        .edit-bio-container {
            position: relative;

            .char-count {
                position: absolute;
                bottom: 20px;
                right: 10px;
                font-size: 12px;
                color: var(--inst-text);
                opacity: 0.7;
            }
        }

        input,
        textarea {
            width: 100%;
            padding: 10px;
            border: 2px solid var(--inst-more-dropdown-hover);
            border-radius: 10px;
            background-color: var(--inst-bg);
            color: var(--inst-text);
            font-size: 14px;
            margin-top: 16px;
            margin-bottom: 35px;
        }

        p {
            font-size: 12px;
            /* color: var(--inst-text); */
            margin-top: -28px;
            margin-bottom: 35px;
        }

        .submit-btn-container {
            display: flex;
            justify-content: flex-end;
            margin-top: 0.8rem;
            width: 556px;
            height: 60px;

            .submit-btn {
                width: 225px;
                height: 41px;
                border: none;
                border-radius: 8px;
                background-color: var(--inst-signup);
                color: var(--inst-text);
                font-size: 14px;
                font-weight: 600;
                cursor: pointer;
                margin-top: 35px;
            }
        }

        .gender-select-container {
            position: relative;
            border: 2px solid var(--inst-more-dropdown-hover);
            border-radius: 10px;
            width: 556px;
            height: 47px;
            margin-top: 16px;

            &.active {
                border: 2px solid var(--inst-gender-input);
            }


            .gender-select-btn {
                width: 556px;
                height: 47px;
                border: none;
                /* height: 100%; */
                background-color: transparent;
                color: var(--inst-text);
                font-size: 14px;
                text-align: right;
                margin: auto;
            }

            .selected-text {
                position: absolute;
                left: 20px;
                top: 50%;
                transform: translateY(-50%);
                color: var(--inst-text);
                font-size: 14px;
                font-weight: 400;
            }

        }



        .gender-modal-container {
            position: absolute;
            width: 556px;
            display: flex;
            justify-content: right;
            bottom: 46px;

            .gender-modal {
                /* position: absolute; */
                /* top: 285px;
                right: 250px;
                left: 250px; */
                width: 325px;
                height: 400px;
                background-color: var(--inst-more-dropdown-hover);
                border: none;
                border-radius: 18px;
                z-index: 10;
                padding-top: 10px;
                padding-bottom: 10px;
                overflow: hidden;

                .modal-item {
                    padding: 3px 14px 3px 14px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-size: 14px;
                    color: var(--inst-text);
                    cursor: pointer;
                    text-align: left;
                    border: none;

                    input[type="radio"] {
                        width: 20px;
                        height: 20px;
                    }


                    &:hover {
                        background-color: var(--inst-scrollbar);
                        /* border-radius: 18px; */
                    }
                }

                .custom-gender-input {
                    width: calc(100% - 28px);
                    height: 55px;
                    margin: 8px 14px;
                    border: none;
                    border-radius: 12px;
                    background-color: #373d45;
                    color: var(--inst-text);
                    font-size: 14px;
                    padding: 10px;
                    border: none;

                    &::placeholder {
                        color: transparent;
                        opacity: 0.7;
                    }

                }

                .custom-gender-input:not(:disabled) {
                    border: 2px solid var(--inst-gender-input);
                }



            }

            .gender-container p {
                font-size: 12px;
                /* color: var(--inst-text); */
                margin-top: 32px;
                /* margin-bottom: 22px; */
            }
        }

        /* .gender-modal {
            position: absolute;
            top: 285px;
            right: 250px;
            width: 365px;
            height: 292px;
            background-color: var(--inst-more-dropdown-hover-button);
            border: none;
            border-radius: 18px;
            z-index: 10;
            padding-top: 10px;
            padding-bottom: 10px;
            overflow: hidden;

            .modal-item {
                padding: 12px 20px;
                font-size: 14px;
                color: var(--inst-text);
                cursor: pointer;
                text-align: left;
                border: none;

                &:hover {
                    background-color: var(--inst-scrollbar);
                    border-radius: 18px;
                }
            }
        }

        .gender-container p {
            font-size: 12px;
            color: var(--inst-text);
            margin-top: 32px;
            margin-bottom: 22px;
        } */

    }

}