.feed-grid-container {
	display: grid;
	justify-content: center;

	> article {
	}
}

.post-profile-img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	object-fit: cover;
	margin-bottom: 10px;
}

.post-article {
	display: flex;
	flex-direction: column;

	margin-bottom: 20px;

	width: 100%;
	overflow: hidden;
}

.post-img {
	width: 468px;

	height: auto;
	display: block;
}

.post-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-self: start;
}
