.feed-grid-container {
	display: grid;
	justify-content: center;

	> article {
	}
}

.post-profile-img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	object-fit: cover;
	margin-bottom: 10px;
}

.post-article {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
	width: 100%;
	overflow: hidden;
}

.post-img {
	width: 468px;
	height: auto;
	display: block;
}

.post-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-self: start;
	gap: 10px;

	svg {
		margin-left: auto;
	}
}

.post-desc {
	padding: 10px;
	span {
		font-weight: 400;
	}
}

.post-actions {
	display: flex;
	align-items: center;
	gap: 6px;
	color: #f5f5f5;
	span {
		font-weight: 800;
	}
}

svg {
	color: #f5f5f5;
	cursor: pointer;

	&:hover {
		transform: scale(1.1);
	}
	.red {
		color: red;
	}
}
