.feed-grid-container {
	display: grid;
	justify-content: center;
	margin-top: 2rem;

	> article {
		margin-bottom: 20px;
	}
}

.post-profile-img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	object-fit: cover;
	margin-bottom: 10px;
}

.post-article {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
	width: 100%;
	overflow: hidden;

	h4 {
		cursor: pointer;
		font-weight: 600;
	}
}

.post-img {
	width: 468px;
	max-height: 468px;
	display: block;
}

.post-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-self: start;
	gap: 10px;

	div {
		margin-left: auto;
		cursor: pointer;
		color: #85a1ff;
		font-weight: 500;
		align-items: center;
		margin-left: auto;
		display: flex;
		align-items: center;

		&:hover {
			text-decoration: underline;
		}
		span {
			padding: 5px;
			align-self: center;
			line-height: 18px;
			font-size: 0.9rem;
		}
	}
}

.post-desc {
	padding: 10px;
	margin-bottom: 20px;
	span {
		font-weight: 400;
	}
}

.post-actions {
	margin-top: 10px;
	display: flex;
	align-items: center;
	gap: 6px;
	color: #f5f5f5;

	span {
		font-weight: 800;
	}
	.bookmark-icon {
		margin-left: auto;
	}
}

svg {
	color: #f5f5f5;
	cursor: pointer;

	&:hover {
		transform: scale(1.1);
	}

	.red {
		color: red;
	}
}
