/* BACKDROP */
.backdrop {
	position: fixed;
	inset: 0;
	background: rgba(0, 0, 0, 0.6);
	z-index: 100;
}

/* MODAL */
.modal {
	position: fixed;
	z-index: 101;
}

.modal-menu {
	bottom: 45%;
	left: 50%;
	transform: translateX(-59%);
	width: 90%;
	max-width: 420px;
	background: var(--inst-popup-background);
	border-radius: 16px;
	overflow: hidden;
}

.modal-menu-centered {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
	max-width: 420px;
	background: var(--inst-popup-background);
	border-radius: 16px;
	overflow: hidden;
}

/* COMMENTS MODAL - INSTAGRAM STYLE */
.modal-comments {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80vw;
	max-width: 1400px;
	height: 80vh;
	max-height: 700px;
	background: transparent;
	border-radius: 8px;
	overflow: visible;
}

/* MODAL ITEMS */
.modal-item {
	padding: 16px;
	text-align: center;
	font-size: 16px;
	color: var(--inst-text);
	cursor: pointer;
}

.modal-item:not(:last-child) {
	border-bottom: 1px solid var(--inst-border);
}

.modal-item.danger {
	color: red;
	font-weight: 600;
}

.modal-item.cancel {
	font-weight: 600;
}

.modal-item:hover {
	background: var(--inst-button-hover);
}

.modal-item:active {
	background: var(--inst-button-active);
}
