.user-msg {
	position: fixed;
	/* top: 690px; */
	right: 0;
	display: flex;
	align-items: center;
	bottom: 0px;
	z-index: 1000;
	padding: 1em;
	/* padding-inline-end: 1.5em; */
	/* padding-inline-end: auto; */
	width: 100vw;
	/* left: 55%; */
	/* transform: translateX(-50%); */
	/* margin-inline-end: auto; */
	/* margin-inline-start: 20px; */
	background-color: var(--inst-popup-background);
	/* Slide up from bottom instead of from side */
	translate: 0 150%;
	color: var(--inst-text);
	font-size: 0.9em;

	opacity: 0;
	/* translate: 150%; */
	transition: 260ms;

	&.visible {
		opacity: 1;
		translate: 0;
	}

	&.success {
		background-color: var(--inst-popup-background);
	}

	&.general {
		background-color: var(--inst-popup-background);
	}

	&.error {
		background-color: var(--inst-popup-background);
		color: var(--error);
	}

	& button {
		background-color: var(--gray1);
		padding: 1px 6px;
		border: 0;
		border-radius: 50%;
		color: var(--gray4);
	}
}
