.content-wrapper {
    display: grid;
    /* grid-template-columns: auto 1fr; */
    /* min-width: calc(100vw - 9rem); */
    width: 100%;
    gap: 1rem;
    padding: 1rem;
    background-color: #0C1014;
}