:root {
  --clr1: #ce2e6c;
  --clr2: #4f3a65;
  --clr3: #574f7d;
  --clr4: #95adbe;
  --clr5: #dff0ea;

  --clr1-light: color-mix(in lab, var(--clr1), white 15%);

  --gray1: #ddd;
  --gray2: #aaa;
  --gray3: #777;
  --gray4: #333;

  --success: rgb(41, 189, 73);
  --error: rgb(216, 59, 59);

  --inst-text: #F5F5F5;
  --inst-a: #A8A8A8;
  --inst-background: #0C1014;
  --inst-buttons: hsl(214, 11%, 18%);
}