.post-list-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: 1fr;
	gap: 1px;
}
/* Medium screens */
@media (max-width: 1024px) {
	.post-list-grid {
		grid-template-columns: repeat(3, 1fr);
	}
}

/* Mobile */
@media (max-width: 600px) {
	.post-list-grid {
		grid-template-columns: repeat(3, 1fr);
	}
}

/* Instagram-like rectangles */
.post {
	position: relative;
	width: 100%;
	aspect-ratio: 4 / 5; /* key change */
	background: #ddd;
	overflow: hidden;
}

.post img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}
