.post-list-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	grid-auto-rows: 1fr;
	justify-content: center;
	justify-items: center;
	gap: 1px;
	min-width: 1000px;
	min-height: 100px;
	margin-top: -0.8rem;
	border-top: 1px solid var(--inst-scrollbar);
	/* border-bottom: 1px solid var(--inst-scrollbar); */
	/* border-radius: 8px; */
	padding-bottom: 20px;
	scrollbar-width: thin;
	scrollbar-color: var(--inst-scrollbar) transparent;
}

.login-footer {
	/* margin-top: 1rem; */
	margin-block-end: auto;
	font-size: 0.8rem;
	color: var(--inst-text);
	min-width: 1000px;
	/* border-top: 1px solid var(--inst-scrollbar); */
}

.post-index {
	margin-inline: clamp(0px, 10vw, 190px);
}

.post {
	position: relative;
	width: 100%;
	height: 100%;
	aspect-ratio: 4 / 5;
	background: #ddd;
	overflow: hidden;
}

.post-preview {
	width: 100%;
	height: 100%;
	display: block;
}

.post-preview img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}

/* Medium screens */
@media (max-width: 1024px) {
	.post-list-grid {
		grid-template-columns: repeat(3, 1fr);
	}
}

/* Mobile */
@media (max-width: 768px) {
	.post-list-grid {
		grid-template-columns: repeat(3, 1fr);
		gap: 2px;
		width: 100vw;
		margin: 0px;
		margin-top: 1rem;
		padding: 10px;
	}

	.post {
		width: 100%;
		aspect-ratio: 1;
	}
}