.post-list-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: 1fr;
	gap: 1px;
	border-radius: 2px;
	margin: 10px;
}

/* Medium screens */
@media (max-width: 1024px) {
	.post-list-grid {
		grid-template-columns: repeat(3, 1fr);
	}
}

/* Mobile */
@media (max-width: 600px) {
	.post-list-grid {
		grid-template-columns: repeat(3, 1fr);
	}
}

/* Instagram-like rectangles  test*/
.post {
	position: relative;
	width: 100%;
	height: 360px;
	aspect-ratio: 4 / 5;

	background: #ddd;
	overflow: hidden;
}

.post-preview {
	width: 100%;
	height: 100%;
	display: block;
}

.post-preview img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}
