.main-container {
	/* display: grid; */
	grid-template-columns: 170px 1fr;
	grid-template-rows: auto 1fr;
	height: 100vh;
	overflow: hidden;
}

.app-header {
	grid-column: 1 / 2;
	grid-row: 1 / 3;
}

.user-msg {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
}

main {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
	padding: 0 20px;
	overflow-y: auto;
	transition: none;
	scrollbar-width: none;
	-ms-overflow-style: none;
}

main::-webkit-scrollbar {
	display: none;
}

main>*:not(.app-footer) {
	width: 90%;
	/* margin-left: 50px; */
}

@media (max-width: 768px) {
	.main-container {
		/* display: block; */
		grid-template-columns: 1fr;
		grid-template-rows: auto auto 1fr;
	}

	.app-header.full {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	.post-img {
		/* width: 100%; */
		height: auto;
		max-width: 100%;
	}

	.home {
		/* padding: 10px; */
		margin-left: 0px;
		width: 90vw;
	}

}