.main-container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

main {
    margin-left: 72px;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    overflow-y: auto;
    transition: none;
}

main>*:not(.app-footer) {
    flex: 1;
    width: 90%;
    /* margin-left: 50px; */
}

@media (max-width: 768px) {
    .main-container {
        margin-left: 0;
        flex-direction: column;
    }

    main {
        padding: 0;
        width: 100%;
        margin-left: 0;
        /* margin-right: 50px; */
    }

    main>* {
        width: 100vw;
        max-width: 100vw;
        margin-left: 0;
        /* margin-right: 50px; */
    }
}