.main-container {
    display: grid;
    grid-template-columns: 8vw 1fr;
    transition: grid-template-columns 0.8s ease;
    height: 100vh;
}

.main-container:has(.app-header:hover) {
    grid-template-columns: 20vw 1fr;
}

main {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

main>*:not(.app-footer) {
    flex: 1;
}

@media (max-width: 768px) {
    .main-container {
        grid-template-columns: 1fr;
    }

}