.main-container {
    display: grid;
    grid-template-columns: 245px 1fr;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

main>*:not(.app-footer) {
    flex: 1;
}

@media (max-width: 768px) {
    .main-container {
        grid-template-columns: 1fr;
    }

}