.main-container {
	/* display: grid; */
	grid-template-columns: 170px 1fr;
	grid-template-rows: auto 1fr;
	height: 100vh;
	overflow: hidden;
}

.app-header {
	grid-column: 1 / 2;
	grid-row: 1 / 3;
}

.user-msg {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
}

main {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
	padding: 0 20px;
	overflow-y: auto;
	transition: none;
	scrollbar-width: none;
	-ms-overflow-style: none;
}

main::-webkit-scrollbar {
	display: none;
}

main>*:not(.app-footer) {
	width: 90%;
	/* margin-left: 50px; */
}

@media (max-width: 768px) {
	.main-container {
		margin-left: 0;
		flex-direction: column;
	}

	main {
		padding: 0;
		width: 100%;
		margin-left: 0;
		/* margin-right: 50px; */
	}

	main>* {
		width: 100vw;
		max-width: 100vw;
		margin-left: 0;
		/* margin-right: 50px; */
	}
}