.main-container {
    display: grid;
    grid-template-columns: 15vw 2fr 8vw;
    /* transition: grid-template-columns 0.8s ease; */
    height: 100vh;
    gap: 1rem;
}

/* .main-container:has(.app-header:hover) {
    grid-template-columns: 20vw 1fr;
} */

main {
    display: flex;
    flex-direction: column;
    /* overflow-y: auto; */
}

main>*:not(.app-footer) {
    flex: 1;
}

@media (max-width: 768px) {
    .main-container {
        grid-template-columns: 1fr;
    }

}